# Node.js dependencies
node_modules/

# Cypress output and cache
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Coverage reports
coverage/

# Build output
dist/
build/

# Temporary files
*.log
*.tmp
*.swp